.input-container {
  padding-bottom: 0.8rem;
}

.label-container {
  padding-bottom: 0.4rem;
}
.input-label {
  font-size: 1rem;
  font-weight: 400;
}

.input-error-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding-top: 0.3rem;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--dark-grey);
}

.input {
  width: 100%;
  height: 2.75rem;
  border: 0.06rem solid var(--black);
  border-radius: 0.5rem;
  text-align: left;
  padding-left: 0.75rem;
  line-height: 1.3rem;
}

.input:disabled {
  color: var(--dark-grey);
  background-color: var(--background);
  border: 0.12rem solid var(--dark-grey);
}

.input:hover {
  border: 0.12rem solid var(--hover);
  color: var(--dark-grey);
}

.input:focus {
  outline: 0.12rem dashed var(--focus);
  color: var(--dark-grey);
  outline-offset: 0.1rem;
}

.input:active {
  outline: 0.12rem solid var(--active);
  color: var(--dark-grey);
  outline-offset: 0;
}

.input-error {
  border: 0.12rem solid var(--error);
}
