.loginForm-container {
  position: absolute;
  top: 1rem;
  left: 8.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginAuth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22.5rem;
  background-color: var(--white);
  border-radius: 8px;
  padding: 2.2rem;
  margin-bottom: 2.2rem;
}

.loginAuth-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginAuth-container > .logo {
  padding: 1rem 0 2.8rem 0;
}

.loginAuth-container > form > .unmatch-error {
  font-weight: 700;
  font-size: 1rem;
  color: var(--error);
  padding-bottom: 1rem;
}

.signup-redirect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 22.5rem;
  height: 8.125rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 0 2.2rem;
}
