
.login-page{
    background-image: url('../../assets/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.floatLeft{
    position: absolute;
    top: 50%;  
    left: 25%; 
    transform: translate(-25%, -50%);
}